doctype html
footer
  .footer
    .footer-parent
      ul.footer-text
        li.text-value About us 
        li.text-value Blog
        li.text-value Press
        li.text-value ios App 
        li.text-value Android App
      ul.social-links
        li
          a(href='#')
            i.fab.fa-facebook-square.icon-footer
        li
          a(href='#')
            i.fab.fa-instagram.icon-footer
        li
          a(href='#')
            i.fab.fa-twitter-square.icon-footer
        li
          a(href='#')
            i.fab.fa-youtube-square.icon-footer