doctype html
head
body
    nav
        ul
            li
                a(href='') FOOD DELIVERY
            li  
                a(href='') HOW IT WORKS
            if(user)
                li
                    a(href='../') LOG OUT
            else
                li
                    a(href='./login.html') LOG IN
                li
                    a(href='./signUp.html') SIGN UP     



